/* Estilos generales */
 <style>
    body {
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 15px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      color: #ffffff;
     overflow: auto;
      
    }
    h1 {
      font-size: 60px;
      color: #f9f9f9;
    }
    h3 {
      font-size: 28px;
      color: #f9f9f9;
    }
    h4 {
      font-size: 28px;
      font-style: italic;
      color: #f9f9f9;
      text-align: center;
    }
    header {
      background-color: #f9f9f9;
      padding: 10px;
    }

    .logo {
      width: 50px;
      height: 50px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    main {
      max-width: 960px;
      margin: 20px auto;
      padding: 20px;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    .gallery img {
      width: 100%;
      height: auto;
    }

    .artist-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .artist-info .info {
      width: 70%;
      font-size: 18px;
      text-align: justify;
    }

    .artist-info .image {
      width: 30%;
      margin-left: 20px;
    }

    body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background:radial-gradient(rgb(207, 22, 22), #1162ac);
 /* Fondo que hace contraste con los colores del logo */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del formulario de contacto */

.container-formulario {
  max-width: 850px;
  margin: auto;
  padding: 15px;
  background-color: #0000004d;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form .form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 1px;
  border: 1px solid #000000;
  border-radius: px;
}

form textarea {
  resize: vertical;
  color: #000000;
}

form button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .container-vista {
    max-width: 300px;
  }
  
  form input,
  form textarea {
    font-size: 14px;
  }
}

/* Estilos de la galería de imágenes */
.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gallery img {
  width: 30%;
  height: auto;
}

/* Estilos de la sección de información del artista */
.artist-info {
  display: flex;
  align-items: center;
}

.artist-info .info {
  flex: 1;
}

.artist-info .image {
  flex: 1;
  text-align: right;
  padding-left: 20px;
}

.artist-info img {
  max-width: 100%;
  height: auto;
}

/* Estilo del menú de navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #0000005d;
  

}
.menu-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

nav {
  max-width: 3000px;
  background-color: #ffffff00;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  margin-left: 10px;
  text-align: center;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
  color: #fffdfd;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.menu li a:hover {
  color: #000000;
}

